extends head.jade
block content
    .page-header
    #container.container
    h1 欢迎来到 Microblog
    p Microblog是一个基于nodejs的微博系统
    p 
        a.btn.btn-primary.btn-large(href="/login") 登录
        a.btn.btn-large(href="/reg") 立即注册
